@using WebApplication1.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked" style="flex-direction:column;height:100%;padding:25px;">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)" style="padding:10px;"><a asp-action="Index" class="btn btn-success">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" style="padding:10px;"><a asp-action="ChangePassword" class="btn btn-success">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)" style="padding:10px;"><a asp-action="ExternalLogins" class="btn btn-success">External logins</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" style="padding:10px;"><a asp-action="TwoFactorAuthentication" class="btn btn-success">Two-factor authentication</a></li>
</ul>