@model FightSports.Models.Melumat

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_panel.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>Melumat</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MelumatId" />
                <div class="form-group">
                    <label asp-for="MelumatTxt" class="control-label"></label>
                    <input asp-for="MelumatTxt" required class="form-control" />
                    <span asp-validation-for="MelumatTxt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MelumatAdress" class="control-label"></label>
                    <input asp-for="MelumatAdress" class="form-control" />
                    <span asp-validation-for="MelumatAdress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SportCategoryId" class="control-label">Sport Category Name</label>
                    <select asp-for="SportCategoryId" class="form-control" asp-items="ViewBag.SportCategoryId"></select>
                    <span asp-validation-for="SportCategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="FormFile" class="form-control forFileSize" type="file" />
                    <span asp-validation-for="FormFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FormFile" class="control-label">Melumat Photo</label>
                    <label class="btn btn-primary" for="FormFile">Choose File</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success submitThis" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>

    <script type="text/javascript">
    $(function () {
        $('.forFileSize').bind('change', function () {
            // check if the file is larger than 2MB
            if (this.files[0].size > 2 * 1024 * 1024) {
                alert("file is larger than 2 Mb, please choose a smaller one.")
                $('.submitThis').attr('disabled','disabled')
            }
            else {
                $('.submitThis').removeAttr('disabled', 'disabled')
            }
        });
    })
    </script>
</body>
</html>
