@model FightSports.Models.NewsType

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_panel.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>NewsType</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NewsTypeName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NewsTypeName)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.NewsTypeId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
