@model FightSports.Models.Photos

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/admin_panel.cshtml";
}

<h2>Create</h2>

<h4>Photos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PhotoName" class="control-label"></label>
                <input asp-for="PhotoName" class="form-control" />
                <span asp-validation-for="PhotoName" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <input asp-for="formFile" class="form-control" type="file" />
                <span asp-validation-for="formFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="formFile" class="control-label"></label>
                <label class="btn btn-default" for="FormFile">Choose File</label>
            </div>
            <div class="form-group">
                <label asp-for="PhotoTitle" class="control-label"></label>
                <input asp-for="PhotoTitle" class="form-control" />
                <span asp-validation-for="PhotoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoViews" class="control-label"></label>
                <input asp-for="PhotoViews" class="form-control" />
                <span asp-validation-for="PhotoViews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoAddedData" class="control-label"></label>
                <input asp-for="PhotoAddedData" class="form-control" />
                <span asp-validation-for="PhotoAddedData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsId" class="control-label"></label>
                <select asp-for="NewsId" class="form-control" asp-items="ViewBag.NewsId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

