@model WebApplication1.Models.Photos

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/admin_panel.cshtml";
}

<h4>Photos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PhotoName" class="control-label"></label>
                <input asp-for="PhotoName" required class="form-control" />
                <span asp-validation-for="PhotoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoTitle" class="control-label"></label>
                <input asp-for="PhotoTitle" required class="form-control" />
                <span asp-validation-for="PhotoTitle" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="PhotoViews" class="control-label"></label>
                <input asp-for="PhotoViews" class="form-control" />
                <span asp-validation-for="PhotoViews" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="PhotoAddedData" class="control-label"></label>
                <input asp-for="PhotoAddedData" class="form-control" />
                <span asp-validation-for="PhotoAddedData" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="NewsId" class="control-label">News Name</label>
                <select asp-for="NewsId" class="form-control" asp-items="ViewBag.NewsId"></select>
            </div>
            <div class="form-group">
                <input asp-for="formFiles" name="formFiles" class="form-control forFileSize" type="file" multiple/>
                <span asp-validation-for="formFiles" required class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="formFiles" class="control-label">Photo</label>
                <label class="btn btn-primary" for="formFiles">Choose File</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success submitThis" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
</script>
 
@*<script type="text/javascript">
    $(function () {
        $('.forFileSize').bind('change', function () {
            // check if the file is larger than 2MB
            if (this.files[0].size > 2 * 1024 * 1024) {
                alert("file is larger than 2 Mb, please choose a smaller one.")
                $('.submitThis').attr('disabled','disabled')
            }
            else {
                $('.submitThis').removeAttr('disabled', 'disabled')
            }
        });
    })
</script>*@