@model FightSports.Models.Admin

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_panel.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>Admin</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AdminName" class="control-label"></label>
                    <input asp-for="AdminName" required class="form-control" />
                    <span asp-validation-for="AdminName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AdminPassword" class="control-label"></label>
                    <input asp-for="AdminPassword" required type="password" class="form-control" />
                    <span asp-validation-for="AdminPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AdminEmail" class="control-label"></label>
                    <input asp-for="AdminEmail" class="form-control" />
                    <span asp-validation-for="AdminEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>

</body>
</html>
